build
archive
*.egg-info
__pycache__/
*.pyc
*.py[cod]
.*
!.gitignore
!.env.example
!.pre-commit-config.yaml
assets/datasets
outputs


# Generated HuggingFace assets
models/**/weights/
models/**/space/

# Environment variables
.env

*.code-workspace
