.python-version
.venv
build
archive
*.egg-info
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/


# Generated HuggingFace assets
models/**/huggingface/
models/**/space/

# Environment variables
.env

*.code-workspace

cog_tts