"""Tests for {{ model_name }}.

Generated at {{ generated_at }} from {{ generated_from_template }}.
"""

import pytest
from ttsdb_core.testing import BaseModelConfigTests, BaseModelImportTests, BaseModelIntegrationTests


class TestConfig(BaseModelConfigTests):
    PACKAGE_NAME = "{{ import_name }}"
    EXPECTED_MODEL_NAME = "{{ model_name }}"
{%- if sample_rate %}
    EXPECTED_SAMPLE_RATE = {{ sample_rate }}
{%- endif %}
{%- if code_root %}
    EXPECTED_CODE_ROOT = "{{ code_root }}"
{%- endif %}


class TestModelImport(BaseModelImportTests):
    PACKAGE_NAME = "{{ import_name }}"
    MODEL_CLASS_PATH = "{{ import_name }}.{{ class_name }}"
{%- if sample_rate %}
    EXPECTED_SAMPLE_RATE_CONST = {{ sample_rate }}
{%- endif %}


# Integration tests - require model weights to be downloaded
@pytest.mark.integration
class TestModelIntegration(BaseModelIntegrationTests):
    PACKAGE_NAME = "{{ import_name }}"
    MODEL_CLASS_PATH = "{{ import_name }}.{{ class_name }}"
    WEIGHTS_PREPARE_HINT = "{{ folder_name }}"
{%- if sample_rate %}
    EXPECTED_SAMPLE_RATE = {{ sample_rate }}
{%- endif %}
